@-moz-viewport { width: device-width; scale: 1; }
@-ms-viewport { width: device-width; scale: 1; }
@-o-viewport { width: device-width; scale: 1; }
@-webkit-viewport { width: device-width; scale: 1; }
@viewport { width: device-width; scale: 1; }

html {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;

	-moz-text-size-adjust: 100%;
	-ms-text-size-adjust: 100%;
	-webkit-text-size-adjust: 100%;
	text-size-adjust: 100%;
}

*, *::before, *::after {
	box-sizing: inherit;
}

body {
	margin: 0;
}

img {
	overflow: hidden;
	width: 100%;
}


/************************************************************ Navigation Menu */
.btn-nav {
	background-color: #ddb904;
	border: none;
	color: white;
	width: 100%;

	-webkit-transition: all 200ms linear;
	transition: all 200ms linear;
}

.btn-nav:hover {
	color: #282830;
}

.navigation {
	display: none;
}

.navigation li {
	list-style: none;
	width: 100%;
  	animation: list-append 1s linear;
  	-webkit-animation: list-append 1s linear;
}

@-webkit-keyframes list-append {
  0% {
    max-height: 0rem;
  }
  100% {
    max-height: 6rem;
  }
}

@keyframes list-append {
  0% {
    height: 0rem;
  }
  100% {
    height: 6rem;
  }
}

.navigation li:hover {
	overflow: hidden;
	width: 100%;
	font-size: 1rem;
	font-weight: bold;

	-webkit-transition: all 150ms ease;
	transition: all 150ms ease;
}

.js-nav-open {
	display: block;
}

/********************************************************** ANIMATED BANNER */

.banner {
	padding-top: 56.25%;
	overflow: hidden;

	position: relative;

	background-color: #282830;

	-webkit-animation: sunset 8s linear;
	animation: sunset 8s linear;
}

@-webkit-keyframes sunset {
	0% 		{background-color: lightblue;}
	85%  	{background-color: #282830;}
	100% 	{background-color: #282830;}
}

@keyframes sunset {
	0% 		{background-color: lightblue;}
	85%  	{background-color: #282830;}
	100% 	{background-color: #282830;}
}

.banner-title {
  	position: absolute;
  	top: 0;
  	width: 100%;

  	color: white;	
  	font-family: 'Cedarville Cursive', cursive;

  	transform-origin: center center;

	-webkit-animation: fadein-a 8s ease-in-out;
	animation: fadein-a 8s ease-in-out;
}

@-webkit-keyframes fadein-a {
	0% 		{opacity: 0;}
	10% 	{opacity: 0;}
	20% 	{opacity: 0;}
	100%  	{opacity: 1;}
}

@-keyframes fadein-a {
	0% 		{opacity: 0;}
	10% 	{opacity: 0;}
	20% 	{opacity: 0;}
	100%  	{opacity: 1;}
}

.banner-title-txt {
	display: block;
	margin:  auto;
	padding-top: 20%;

  	color: white;	
  	font-family: 'Cedarville Cursive', cursive;
  	font-size: 1.5rem;
	letter-spacing: 0.25rem;
  	text-align: center;
	text-decoration: none;

	transition: all 500ms linear;
}

.banner-title-txt:hover {
	color: #ddb904;
}

/********************************************************** Start Spotting Button */

.scroll 
.scroll-txt{
	margin: .25em;
	padding: 1em .75em;
	position: absolute;
	bottom: 2%;
	right: 2%;

	background-color: white;
	border-radius: 50%;

	color: #282830;
	line-height: 1;
	text-align: center;
	text-decoration: none;

	-webkit-transition: all 250ms linear;
	transition: all 250ms linear;
}

.scroll:hover 
.scroll-txt:hover {
	background-color: #ddb904;

	color: white;
	text-decoration: none;
}

/********************************************************** Daylight Animations **/

.rays {
	width: 100%;

	position: absolute;
	top:0;
	transform-origin: center center;

	opacity: 0;

	-webkit-animation: rays-rotate 10s linear;
	animation: rays-rotate 10s linear;
}

@-webkit-keyframes rays-rotate {
	0% 		{transform: rotate(0deg); opacity: 1;}
	50%		{opacity: 1;}
	100%  	{transform: rotate(360deg); opacity: 0;}
}

@keyframes rays-rotate {
	0% 		{transform: rotate(0deg); opacity: 1;}
	50%		{opacity: 1;}
	100%  	{transform: rotate(360deg); opacity: 0;}
}

.rays-wrap {
	width: 50%;

	position: absolute;
	top:-25vw;
	left:25%;
	transform-origin: center center;

	-webkit-animation: rays-raise 10s ease-in-out;
	animation: rays-raise 10s ease-in-out;
}

@-webkit-keyframes rays-raise {
	0% 		{transform: translateY(0px);}
	100%  	{transform: translateY(-50vh);}
}

@keyframes rays-raise {
	0% 		{transform: translateY(0px);}
	100%  	{transform: translateY(-50vh);}
}

.cloud-left {
	width: 75%;

	position: absolute;
	left: 0;
	bottom:0;

	opacity: 0;

	-webkit-animation: slide-left 10s ease-in-out;
	animation: slide-left 10s ease-in-out;
}

@-webkit-keyframes slide-left {
	0% 		{transform: translateX(0px); opacity: 1;}
	50%		{opacity: 1;}
	100%  	{transform: translateX(-100vw); opacity: 0;}
}

@keyframes slide-left {
	0% 		{transform: translateX(0px); opacity: 1;}
	50%		{opacity: 1;}
	100%  	{transform: translateX(-100vw); opacity: 0;}
}

.cloud-right {
	width: 75%;

	position: absolute;
	right: 0;
	bottom: 0;

	opacity: 0;

	-webkit-animation: slide-right 10s ease-in-out;
	animation: slide-right 10s ease-in-out;
}

@-webkit-keyframes slide-right {
	0% 		{transform: translateX(0px); opacity: 1;}
	50%		{opacity: 1;}
	100%  	{transform: translateX(100vw); opacity: 0;}
}

@keyframes slide-right {
	0% 		{transform: translateX(0px); opacity: 1;}
	50%		{opacity: 1;}
	100%  	{transform: translateX(100vw); opacity: 0;}
}

/********************************************************** Nighttime Animation **/
.stars {
	-webkit-animation: fadein-b 12s ease-in-out;
	animation: fadein-b 12s ease-in-out;
}

@-webkit-keyframes fadein-b {
	from 	{ opacity: 0; }
	to 		{ opacity: 1; }
}

@keyframes fadein-b {
	from 	{ opacity: 0; }
	to 		{ opacity: 1; }
}

.constellations {
	height: 100%;

	position: absolute;
	top: 0;
}

.stars-01 {
	height: 100%;

	position: absolute;
	top: 0;
	left: 0;

	opacity: 0;

	-webkit-animation: pulse-a 10s ease-in-out infinite;
	animation: pulse-a 10s ease-in-out infinite;
}

@-webkit-keyframes pulse-a {
	0% 		{ opacity: 0.1; }
	10% 	{ opacity: 1; }
	20% 	{ opacity: 0.1; }
	30% 	{ opacity: 1; }
	40% 	{ opacity: 0.1; }
	50% 	{ opacity: 1; }
	60% 	{ opacity: 0.1; }
	70% 	{ opacity: 1; }
	80% 	{ opacity: 0.1; }
	90% 	{ opacity: 1; }
	100% 	{ opacity: 0.1; }
}

@keyframes pulse-a {
	0% 		{ opacity: 0.1; }
	10% 	{ opacity: 1; }
	20% 	{ opacity: 0.1; }
	30% 	{ opacity: 1; }
	40% 	{ opacity: 0.1; }
	50% 	{ opacity: 1; }
	60% 	{ opacity: 0.1; }
	70% 	{ opacity: 1; }
	80% 	{ opacity: 0.1; }
	90% 	{ opacity: 1; }
	100% 	{ opacity: 0.1; }
}

.stars-02 {
	height: 100%;

	position: absolute;
	top: 0;
	left: 0;

	opacity: 0;

	-webkit-animation: pulse-b 10s ease-in-out infinite;
	animation: pulse-b 10s ease-in-out infinite;
}

@-webkit-keyframes pulse-b {
	0% 		{ opacity: 0; }
	12% 	{ opacity: 0.5; }
	24% 	{ opacity: 1; }
	36% 	{ opacity: 0.5; }
	48% 	{ opacity: 0; }
	60% 	{ opacity: 0.5; }
	72% 	{ opacity: 1; }
	84% 	{ opacity: 0.5; }
	96% 	{ opacity: 1; }
	100% 	{ opacity: 0.5; }
}

@keyframes pulse-b {
	0% 		{ opacity: 0; }
	12% 	{ opacity: 0.5; }
	24% 	{ opacity: 1; }
	36% 	{ opacity: 0.5; }
	48% 	{ opacity: 0; }
	60% 	{ opacity: 0.5; }
	72% 	{ opacity: 1; }
	84% 	{ opacity: 0.5; }
	96% 	{ opacity: 1; }
	100% 	{ opacity: 0.5; }
}

.stars-03 {
	height: 100%;

	position: absolute;
	top: 0;
	left: 0;
}

/********************************************************** Constellation Images */

.thumbnails a {
	background-color: black;
	color: #ddb904;
	display: inline-block;
	text-decoration: none;
	text-align: center;
	width: 100%;
}

.thumbnails li {
	display: inline-block;
}

.btn-close {
	background-color: #ddb904;
	border: none;
	border-radius: 50%;
	color: white;
	font-family: 'Josefin Sans', sans-serif;
	font-weight: bold;
	line-height: 1;
	padding: 1em .75em;
	text-align: center;
	text-decoration: none;

	-webkit-transition: all 200ms linear;
	transition: all 200ms linear;
}

.btn-close:hover {
	background-color: white;
	color: #282830;
}

.lightbox {
  position: fixed;
  left: 100%;
  right: -100%;
  top: 0;
  bottom: 0;
  background-color: rgba(255, 255, 255, 0.50);
  opacity: 0;

  -webkit-transition: all 250ms linear;
  transition: all 250ms ease-out;
}

.lightbox[data-state="visible"] {
  opacity: 1;
  left: 0;
  right: 0;
}

.lightbox-container {
  position: absolute;
  left: 15%;
  right: 15%;
  bottom: 15%;
  top: 15%;
}

.lightbox-image {
  display: block;
  width: 100%;
}

.lightbox-content {
  position: absolute;
  top: 50%;
  left: 50%;
  width: calc(100vw - 25vw);
  transform: translate(-50%, -50%);
}

.preview {
	padding-top: 45%; 
	padding-bottom: 45%;
}

/********************************************************** Footer and Cityscape Banner */
.banner-bottom {
	width: 100%;
}

footer {
	background-color: black;
}

.buildings {
	fill: black;
}

.sky {
	fill: lightblue;

	-webkit-animation: cityscape-sunset 8s linear infinite alternate;
	animation: cityscape-sunset 8s linear infinite alternate;
}

@-webkit-keyframes cityscape-sunset {
	0% {fill: lightblue;}
	10% {fill: lightblue;}
	85% {fill: #282830;}
	100% {fill: #282830;}
}

@keyframes cityscape-sunset {
	0% {fill: lightblue;}
	10% {fill: lightblue;}
	85% {fill: #282830;}
	100% {fill: #282830;}
}

.windows {
	fill: black;

	-webkit-animation: cityscape-windows 8s linear infinite alternate;
	animation: cityscape-windows 8s linear infinite alternate;
}

@-webkit-keyframes cityscape-windows {
	0% {fill: black;}
	85% {fill: #ddb904;}
	100% {fill: #ddb904;}
}

@keyframes cityscape-windows {
	0% {fill: black;}
	85% {fill: #ddb904;}
	100% {fill: #ddb904;}
}

.site-info {
	background-color: black;
	bottom: 0;
	display:block;
	height: 10em;
	overflow: hidden;
	padding-bottom: 5em;
}

.site-info p {
	color: #ddb904;
	margin-top: 4.5em;
	text-align: center;
}

/********************************************************** Media Queries*/

@media only screen and (min-width: 25em) {
	.banner-title-txt {
		padding-top: 20%;
		font-size: 4rem;
	}

	.lightbox-content {
	  width: calc(100vw - 25vw);
	}


}

@media only screen and (min-width: 38em) {
	.banner-title-txt {
		padding-top: 20%;
		font-size: 5rem;
	}

	.scroll {
		margin: auto;
		padding: 1em .75em;
		position: absolute;
		bottom: 2%;
		right: 50%;

		display: block;
	}

	.lightbox-content {
	  width: calc(100vw - 50vw);
	}
}

@media only screen and (min-width: 60em) {
	.banner-title-txt {
		padding-top: 20%;
		font-size: 6rem;
	}

	.lightbox-content {
	  width: calc(100vw - 50vw);
	}
}