@-moz-viewport { width: device-width; scale: 1; }
@-ms-viewport { width: device-width; scale: 1; }
@-o-viewport { width: device-width; scale: 1; }
@-webkit-viewport { width: device-width; scale: 1; }
@viewport { width: device-width; scale: 1; }

html {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;

	-moz-text-size-adjust: 100%;
	-ms-text-size-adjust: 100%;
	-webkit-text-size-adjust: 100%;
	text-size-adjust: 100%;
}

*, *::before, *::after {
	box-sizing: inherit;
}

body {
	margin: 0;
	padding: 0;
}

img {
	overflow: hidden;
	width: 100%;
}

button {
	margin: 0;
}

a:focus {
	outline: 9px solid #Deca6f;
}

.skip-links {
	list-style-type: none;
	margin: 0;
	padding: 0;
}

.skip-links a {
	background-color: #282830;
	color: white;
	font-weight: bold;
	padding: 1em 1.25em;
	position: absolute;
		top: -4em;
	text-decoration: none;	
}

.skip-links a:focus {
	top: 0;
}

/************************************************************ Navigation Menu */
.btn-nav {
	background-color: #ddb904;
	border: none;
	color: white;
	margin: 0;
	overflow: hidden;
	width: 100%;

	-webkit-transition: all 200ms linear;
	transition: all 200ms linear;
}

.btn-nav:hover {
	color: #282830;
}

.nav {
	display: none;
	overflow: hidden;

	animation: list-append 250ms linear;
	-webkit-animation: list-append 250ms linear;
}

@-webkit-keyframes list-append {
	0% {max-height: 0rem;}
	100% {max-height: 10rem;}
}

@keyframes list-append {
	0% {height: 0rem;}
	100% {height: 10rem;}
}

.nav a {
	color: #282830;
	text-decoration: none;
}

.nav li {
	background-color: lightblue;
	list-style: none;
	width: 100%;
}

.nav li:hover {
	font-size: 1rem;
	font-weight: bold;
	overflow: hidden;
	width: 100%;

	-webkit-transition: all 150ms ease;
	transition: all 150ms ease;
}

.js-nav-open {
	display: block;
}

/********************************************************** ANIMATED BANNER */

.banner {
	background-color: #282830;
	overflow: hidden;
	padding-top: 56.25%;
	position: relative;

	-webkit-animation: sunset 8s linear;
	animation: sunset 8s linear;
}

@-webkit-keyframes sunset {
	0% 		{background-color: lightblue;}
	85%		{background-color: #282830;}
	100% 	{background-color: #282830;}
}

@keyframes sunset {
	0% 		{background-color: lightblue;}
	85%		{background-color: #282830;}
	100% 	{background-color: #282830;}
}

.banner-title-txt,
.banner-title-txt h1{
	display: block;
	color: white;
	font-size: 1.5rem;
	letter-spacing: 0.25rem;
	position: absolute;
		top: 25%;
	text-align: center;
	text-decoration: none;
	transform-origin: center center;
	width: 100%;

	-webkit-transition: all 500ms linear;
	transition: all 500ms linear;

	-webkit-animation: fadein-a 8s ease-in-out;
	animation: fadein-a 8s ease-in-out;
}

@-webkit-keyframes fadein-a {
	0% 		{opacity: 0;}
	10% 	{opacity: 0;}
	20% 	{opacity: 0;}
	100%	{opacity: 1;}
}

@-keyframes fadein-a {
	0% 		{opacity: 0;}
	10% 	{opacity: 0;}
	20% 	{opacity: 0;}
	100%	{opacity: 1;}
}

.banner-title-txt:hover {
	color: #ddb904;
}

/********************************************************** Start Spotting Button */
.scroll {
	position: absolute;
		bottom: 3;
		left: 0;
	width: 100%;

	-webkit-animation: fadein-a 8s ease-in-out;
	animation: fadein-a 8s ease-in-out;
}

@-webkit-keyframes fadein-a {
	0% 		{opacity: 0;}
	10% 	{opacity: 0;}
	20% 	{opacity: 0;}
	100%	{opacity: 1;}
}

@-keyframes fadein-a {
	0% 		{opacity: 0;}
	10% 	{opacity: 0;}
	20% 	{opacity: 0;}
	100%	{opacity: 1;}
}

.scroll-txt {
	color: #282830;
	line-height: 1.25em;
	margin: 1em auto;
	text-align: center;
	text-decoration: none;

	-webkit-transition: all 250ms linear;
	transition: all 250ms linear;
}

.scroll-txt:hover {
	color: white;
}

.circle {
	background-color: white;
	border-radius: 50%;
	height: 60px;
	margin: 0 0 1em 0;
	padding: 0;
	position: absolute;
		bottom: 0;
		left: calc(50% - 30px);
	width: 60px;

	-webkit-transition: all 250ms linear;
	transition: all 250ms linear;
}

.circle:hover {
	background-color: #ddb904;
	color: white;
	text-decoration: none;
}

/********************************************************** Daylight Animations **/

.rays {
	opacity: 0;
	position: absolute;
		top:0;
	transform-origin: center center;
	width: 100%;

	-webkit-animation: rays-rotate 10s linear;
	animation: rays-rotate 10s linear;
}

@-webkit-keyframes rays-rotate {
	0% 		{transform: rotate(0deg); opacity: 1;}
	50%		{opacity: 1;}
	100%	{transform: rotate(360deg); opacity: 0;}
}

@keyframes rays-rotate {
	0% 		{transform: rotate(0deg); opacity: 1;}
	50%		{opacity: 1;}
	100%	{transform: rotate(360deg); opacity: 0;}
}

.rays-wrap {
	position: absolute;
		left:25%;
		top:-25vw;
	transform-origin: center center;
	width: 50%;	

	-webkit-animation: rays-raise 10s ease-in-out;
	animation: rays-raise 10s ease-in-out;
}

@-webkit-keyframes rays-raise {
	0% 		{transform: translateY(0px);}
	100%	{transform: translateY(-50vh);}
}

@keyframes rays-raise {
	0% 		{transform: translateY(0px);}
	100%	{transform: translateY(-50vh);}
}

.cloud-left {
	opacity: 0;
	position: absolute;
		bottom:0;
		left: 0;
	width: 75%;

	-webkit-animation: slide-left 10s ease-in-out;
	animation: slide-left 10s ease-in-out;
}

@-webkit-keyframes slide-left {
	0% 		{transform: translateX(0px); opacity: 1;}
	50%		{opacity: 1;}
	100%	{transform: translateX(-100vw); opacity: 0;}
}

@keyframes slide-left {
	0% 		{transform: translateX(0px); opacity: 1;}
	50%		{opacity: 1;}
	100%	{transform: translateX(-100vw); opacity: 0;}
}

.cloud-right {
	position: absolute;
		bottom: 0;
		right: 0;
	opacity: 0;
	width: 75%;

	-webkit-animation: slide-right 10s ease-in-out;
	animation: slide-right 10s ease-in-out;
}

@-webkit-keyframes slide-right {
	0% 		{transform: translateX(0px); opacity: 1;}
	50%		{opacity: 1;}
	100%	{transform: translateX(100vw); opacity: 0;}
}

@keyframes slide-right {
	0% 		{transform: translateX(0px); opacity: 1;}
	50%		{opacity: 1;}
	100%	{transform: translateX(100vw); opacity: 0;}
}

/********************************************************** Nighttime Animation **/
.stars {
	-webkit-animation: fadein-b 12s ease-in-out;
	animation: fadein-b 12s ease-in-out;
}

@-webkit-keyframes fadein-b {
	from 	{ opacity: 0; }
	to 		{ opacity: 1; }
}

@keyframes fadein-b {
	from 	{ opacity: 0; }
	to 		{ opacity: 1; }
}

.constellations {
	height: 100%;
	position: absolute;
		top: 0;
}

.stars-01 {
	height: 100%;
	opacity: 0;
	position: absolute;
		left: 0;
		top: 0;

	-webkit-animation: pulse-a 10s ease-in-out infinite;
	animation: pulse-a 10s ease-in-out infinite;
}

@-webkit-keyframes pulse-a {
	0% 		{ opacity: 0.1; }
	10% 	{ opacity: 1; }
	20% 	{ opacity: 0.1; }
	30% 	{ opacity: 1; }
	40% 	{ opacity: 0.1; }
	50% 	{ opacity: 1; }
	60% 	{ opacity: 0.1; }
	70% 	{ opacity: 1; }
	80% 	{ opacity: 0.1; }
	90% 	{ opacity: 1; }
	100% 	{ opacity: 0.1; }
}

@keyframes pulse-a {
	0% 		{ opacity: 0.1; }
	10% 	{ opacity: 1; }
	20% 	{ opacity: 0.1; }
	30% 	{ opacity: 1; }
	40% 	{ opacity: 0.1; }
	50% 	{ opacity: 1; }
	60% 	{ opacity: 0.1; }
	70% 	{ opacity: 1; }
	80% 	{ opacity: 0.1; }
	90% 	{ opacity: 1; }
	100% 	{ opacity: 0.1; }
}

.stars-02 {
	height: 100%;
	opacity: 0;
	position: absolute;
		left: 0;
		top: 0;

	-webkit-animation: pulse-b 10s ease-in-out infinite;
	animation: pulse-b 10s ease-in-out infinite;
}

@-webkit-keyframes pulse-b {
	0% 		{ opacity: 0; }
	12% 	{ opacity: 0.5; }
	24% 	{ opacity: 1; }
	36% 	{ opacity: 0.5; }
	48% 	{ opacity: 0; }
	60% 	{ opacity: 0.5; }
	72% 	{ opacity: 1; }
	84% 	{ opacity: 0.5; }
	96% 	{ opacity: 1; }
	100% 	{ opacity: 0.5; }
}

@keyframes pulse-b {
	0% 		{ opacity: 0; }
	12% 	{ opacity: 0.5; }
	24% 	{ opacity: 1; }
	36% 	{ opacity: 0.5; }
	48% 	{ opacity: 0; }
	60% 	{ opacity: 0.5; }
	72% 	{ opacity: 1; }
	84% 	{ opacity: 0.5; }
	96% 	{ opacity: 1; }
	100% 	{ opacity: 0.5; }
}

.stars-03 {
	height: 100%;
	position: absolute;
		left: 0;
		top: 0;
}

/********************************************************** Constellation Images */

.thumbnails a {
	background-color: black;
	display: inline-block;
	text-align: center;
	text-decoration: none;
	width: 100%;
}

.thumbnails li {
	display: inline-block;
}

.preview-img {
	background-image: url(../images/zodiac_01.svg);
	background-position: center;
	background-repeat: no-repeat;
}

.preview-text { 
	background:#fff;
	font-weight: bold; 
	height: 100%;
	opacity:0;
	padding-top: 0; 
	width:auto; 
}

.preview-img:hover 
.preview-text { 
	color: black;
	opacity:0.6; 
}

.preview {
	padding-bottom: 45%;
	padding-top: 45%; 
}

.btn-close {
	background-color: #ddb904;
	border: none;
	border-radius: 50%;
	color: white;
	font-family: 'Josefin Sans', sans-serif;
	font-weight: bold;
	padding: 1.2em 1em;
	position: absolute;
		left: 5%;
		top: 5%;
	text-align: center;
	text-decoration: none;

	-webkit-transition: all 200ms linear;
	transition: all 200ms linear;
}

.btn-close:hover {
	background-color: white;
	color: #282830;
}

.lightbox {
	background-color: rgba(0, 0, 0, 0.9);
	opacity: 0;
	position: fixed;
		bottom: 0;	
		left: -100%;
		right: 100%;
		top: 0;
	z-index: 9999;

	-webkit-transition: all 250ms linear;
	transition: all 250ms ease-out;
}

.lightbox[data-state="visible"] {
	left: 0;
	opacity: 1;	
	right: 0;
}

.lightbox-image {
	display: block;
	width: 100%;
}

.lightbox-content {
	position: absolute;
		top: 50%;
		left: 50%;
	width: calc(100vw - 25vw);

	-webkit-transform: translate(-50%, -50%);
	transform: translate(-50%, -50%);
}

/********************************************************** Notable Stars Slideshow */
.star-slideshow {
	background-color: #282830;
}

.cycle-slideshow {
	margin: 0 auto;
}

.slideshow-directors {
	font-weight: bold;
	width: 100%;
}

#prev:hover,
#next:hover {
	color: white;
}

#prev {
	display: inline-block;
	text-align: right;
}

#next {
	display: inline-block;
	text-align: left;
}

/********************************************************** Planet Images and Description */
.planet-img {
	display: block;
	height: 100%;
}

.planet-info {
	display: block;
	overflow: hidden;
}

.planet-info h4 {
	color: #ddb904;
}

.planet-info p {
	line-height: 1.25em;
}

/********************************************************** Footer and Cityscape Banner */
.banner-bottom {
	width: 100%;
}

footer {
	background-color: black;
}

.buildings {
	fill: black;
	width: 100%;
}

.sky {
	fill: lightblue;
	width: 100%;
}

.js-active-city .sky {
	-webkit-animation: cityscape-sky 5s linear infinite alternate;
	animation: cityscape-sky 5s linear infinite alternate;
}

@-webkit-keyframes cityscape-sky {
	0% {fill: lightblue;}
	10% {fill: lightblue;}
	85% {fill: #282830;}
	100% {fill: #282830;}
}

@keyframes cityscape-sky {
	0% {fill: lightblue;}
	10% {fill: lightblue;}
	85% {fill: #282830;}
	100% {fill: #282830;}
}

.windows {
	fill: black;
	width: 100%;
}

.js-active-city .windows {
	-webkit-animation: cityscape-windows 5s linear infinite alternate;
	animation: cityscape-windows 5s linear infinite alternate;
}

@-webkit-keyframes cityscape-windows {
	0% {fill: black;}
	85% {fill: #ddb904;}
	100% {fill: #ddb904;}
}

@keyframes cityscape-windows {
	0% {fill: black;}
	85% {fill: #ddb904;}
	100% {fill: #ddb904;}
}

/********************************************************** Footer Info */

.site-info {
	background-color: black;
	display: block;
	height: 10em;
	overflow: hidden;
	padding-bottom: 5em;
}

.site-info p {
	color: #ddb904;
	margin-top: 4.5em;
	text-align: center;
}

.site-info a {
	color: #ddb904;
	display: inline-block;
	text-align: center;
}

.site-info a:hover {
	color: white;
}

/********************************************************** Media Queries */

@media only screen and (min-width: 25em) {
	.banner-title-txt,
	.banner-title-txt h1{
		font-size: 3rem;
	}

	.lightbox-content {
		width: calc(100% - 25%);
	}
}

@media only screen and (min-width: 38em) {
	.banner-title-txt,
	.banner-title-txt h1 {
		font-size: 6rem;
	}

	.scroll {
		display: block;
		margin: 0 auto;
		padding: 1em .75em;
		position: absolute;
			bottom: 2%;
			right: 50%;
	}

	.planet-info {
		padding-left: 0.7500em;
	}

	.lightbox-content {
		width: calc(100% - 50%);
	}
}

@media only screen and (min-width: 60em) {
	.banner-title-txt,
	.banner-title-txt h1 {
		font-size: 9rem;
	}	

	.site-info p,
	.site-info a {
		display: inline-block;
		float: left;
		margin-top: 4.5em;
	}

	.site-info p {
		padding-left: 2em;
		text-align: left;
	}

	.site-info a {
		padding-right: 2em;
		text-align: right;
	}
}